* {
  box-sizing: border-box;
}
body {
  background-image: url("img/coffee2.jpeg");
  background-size: 100%;
  color: white;
  text-align: center;
}
h1 {
  margin-top: 10%;
}
.unstyled li {
  list-style: none;
}
